button {
  background-color: #ffce41;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  width: 450px;
  height: 50px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #000000;
  color: #ffce41;
  border: 2px solid #ffce41;
  border-radius: 0;
}
