.Home {
  background-image: url("./assets/banners/banner\ topo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  width: 100%;
  padding: 0 70px;
  display: flex;

  & .infos {
    justify-content: center;
    align-items: center;
    margin-top: 150px;

    & .tituloHome {
      font-size: 70px;
      font-weight: 700;
      color: #e3c05a;
      margin-top: 50px;
      margin-left: 0px;
      width: 50vw;
      height: 10vw;
    }

    & img {
      width: 520px;
      height: auto;
      margin-left: 5px;
    }

    & h3 {
      font-size: 24px;
      font-weight: 500;
      margin-top: 28px;
      margin-bottom: 60px;
      color: #ffffff;
    }
  }
}

.Oproblema {
  text-align: center;
  justify-content: center;
  margin-top: 9vh;

  & .texto {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;
    }
  }

  .ListaIcones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-direction: row;
    margin: 130px 0;

    & .icone1 {
      display: flex;
      align-items: center;
      flex-direction: column;

      & .circulo {
        background-color: #323232;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 50px;

        & #IconeBateria {
          width: 105px;
          height: auto;
        }

        & #IconeDeslike {
          width: 90px;
          height: auto;
        }

        & #IconeGrafico {
          width: 90px;
          height: auto;
        }

        & #IconeBalanca {
          width: 90px;
          height: auto;
        }

        & img {
          width: 75px;
          height: auto;
        }
      }

      & p {
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
}

.OqueE {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
  }

  & .infos {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 25px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;
    }
  }
}

.ParaQuem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
    margin-left: 120px;
  }

  & .infos {
    & h1 {
      font-size: 49px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 40px;
    }

    & p {
      font-size: 25px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 20px;
    }
  }
}

.Especialmente {
  text-align: center;
  justify-content: center;
  margin-top: 25vh;

  & .texto {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }
  }

  .ListaIcones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-direction: row;
    margin: 130px 0;

    & .icone1 {
      display: flex;
      align-items: center;
      flex-direction: column;

      & .circulo {
        background-color: #323232;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 50px;

        & #IconeEmpresarios {
          width: 80px;
          height: auto;
        }

        & #IconePessoas {
          width: 90px;
          height: auto;
        }

        & img {
          width: 75px;
          height: auto;
        }
      }

      & p {
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
}

.OqueVoce {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
  }

  & .infos {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 40px;
    }

    & p {
      font-size: 25px;
      font-weight: 400;
      color: #ffffff;
      margin-bottom: 30px;
    }

    & .AoLongo {
      color: #e3c05a;
    }
  }
}

.OqueVoceEncontra {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
    margin-left: 120px;
  }

  & .infos {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 40px;
    }

    & p {
      font-size: 25px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;
    }
  }
}

.OsTemas {
  text-align: center;
  justify-content: center;
  margin-top: 20vh;

  & .texto {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }
  }

  .ListaIcones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-direction: row;
    margin: 130px 0;

    & .icone1 {
      display: flex;
      align-items: center;
      flex-direction: column;

      & .circulo {
        background-color: #323232;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 50px;

        & #IconeCerebro {
          width: 105px;
          height: auto;
        }

        & #IconeEngrenagem {
          width: 90px;
          height: auto;
        }

        & #IconeTempo {
          width: 90px;
          height: auto;
        }

        & #IconeCoracao {
          width: 90px;
          height: auto;
        }

        & #IconePessoaEngrenagem {
          width: 90px;
          height: auto;
        }

        & #IconeAlvo {
          width: 90px;
          height: auto;
        }

        & img {
          width: 75px;
          height: auto;
        }
      }

      & p {
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
}

.QuemEsta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
    margin-left: 120px;
  }

  & .infos {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 500;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & p {
      font-size: 25px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;
    }
  }
}

.OportunidadeExc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
    margin-left: 120px;
  }

  & .infos {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
      margin-left: 40px;
    }

    & .QuadradoPreco {
      background-color: #323232;
      width: 80%;
      height: 90vh;
      border-radius: 40px;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
      padding: 30px 30px;
      text-align: center;

      & p {
        font-size: 25px;
        font-weight: 500;
        color: #ffffff;
      }

      & .linha {
        width: 60%;
        height: 2px;
        background-color: #e3c05a;
        margin: 20px 20%;
      }

      & h3 {
        font-size: 37px;
        font-weight: 500;
        color: #e3c05a;
        margin-bottom: 10px;
        margin-top: 40px;

        & span {
          font-weight: 700;
          text-decoration: line-through;
        }
      }

      & h2 {
        font-size: 90px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 10px;

        & span {
          font-size: 30px;
        }
      }

      & h4 {
        font-size: 30px;
        font-weight: 700;
        color: #e3c05a;
        margin-bottom: 50px;
        margin-top: 10px;
      }
    }
  }
}

.ProntoPara {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  margin-bottom: 17vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
    margin-left: 120px;
  }

  & .infos {
    padding-top: 40px;
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;

      & span {
        font-weight: 700;
        color: #e3c05a;
      }
    }
  }
}

footer {
  background-color: #e3c05a;
  text-align: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;

  & h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  & p {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;

    & a {
      color: #000000;
      font-weight: 700;
      transition: all 0.3s ease;
    }

    & img {
      width: 15px;
      height: auto;
    }
  }

  & a:hover {
    text-decoration: underline;
    color: #323232;
  }
}
