.Home {
  background-image: url("./assets/banners/banners-michelle2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  padding: 0 70px;
  display: flex;

  & .infos {
    justify-content: center;
    align-items: center;
    margin-top: 150px;

    & .tituloHome {
      font-size: 35px;
      font-weight: 700;
      color: #e3c05a;
      margin-top: 50px;
      margin-left: 0px;
      width: 50vw;
      height: 10vw;
    }

    & img {
      width: 520px;
      height: auto;
      margin-left: 5px;
    }

    & h3 {
      font-size: 24px;
      font-weight: 500;
      margin-top: 28px;
      margin-bottom: 60px;
      color: #ffffff;
    }
  }
}

.Oproblema {
  text-align: center;
  justify-content: center;
  margin-top: 9vh;
  padding: 0 20px;

  & button {
    margin-left: -30px;
  }

  & .texto {
    margin-left: -20px;
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;
    }
  }

  .ListaIcones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-direction: row;
    margin: 130px 0;
    margin-left: -20px;

    & .icone1 {
      display: flex;
      align-items: center;
      flex-direction: column;

      & .circulo {
        background-color: #323232;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 50px;

        & #IconeBateria {
          width: 105px;
          height: auto;
        }

        & #IconeDeslike {
          width: 90px;
          height: auto;
        }

        & #IconeGrafico {
          width: 90px;
          height: auto;
        }

        & #IconeBalanca {
          width: 90px;
          height: auto;
        }

        & img {
          width: 75px;
          height: auto;
        }
      }

      & p {
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
}

.OqueE {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
  }

  & .infos {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 25px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;
    }
  }
}

.ParaQuem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
    margin-left: 120px;
  }

  & .infos {
    & h1 {
      font-size: 49px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 40px;
    }

    & p {
      font-size: 25px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 20px;

      & img {
        width: 25px;
        height: auto;
        margin-right: 10px;
      }
    }
  }
}

.Especialmente {
  text-align: center;
  justify-content: center;
  margin-top: 25vh;

  & button {
    margin-left: -100px;
  }

  & .texto {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
      margin-left: -40px;
    }
  }

  .ListaIcones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-direction: row;
    margin: 130px 0;
    margin-left: -50px;

    & .icone1 {
      display: flex;
      align-items: center;
      flex-direction: column;

      & .circulo {
        background-color: #323232;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 50px;

        & #IconeEmpresarios {
          width: 80px;
          height: auto;
        }

        & #IconePessoas {
          width: 90px;
          height: auto;
        }

        & img {
          width: 75px;
          height: auto;
        }
      }

      & p {
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
}

.OqueVoce {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
  }

  & .infos {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 40px;
    }

    & p {
      font-size: 25px;
      font-weight: 400;
      color: #ffffff;
      margin-bottom: 30px;
    }

    & .AoLongo {
      color: #e3c05a;
    }
  }
}

.OqueVoceEncontra {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
    margin-left: 120px;
  }

  & .infos {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 40px;
    }

    & p {
      font-size: 25px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;

      & img {
        width: 25px;
        height: auto;
        margin-right: 10px;
      }
    }
  }
}

.OsTemas {
  text-align: center;
  justify-content: center;
  margin-top: 20vh;

  & button {
    margin-left: -50px;
  }

  & .texto {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }
  }

  .ListaIcones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-direction: row;
    margin: 130px 0;

    & .icone1 {
      display: flex;
      align-items: center;
      flex-direction: column;

      & .circulo {
        background-color: #323232;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 50px;

        & #IconeCerebro {
          width: 80px;
          height: auto;
        }

        & #IconeEngrenagem {
          width: 90px;
          height: auto;
        }

        & #IconeTempo {
          width: 90px;
          height: auto;
        }

        & #IconeCoracao {
          width: 90px;
          height: auto;
        }

        & #IconePessoaEngrenagem {
          width: 90px;
          height: auto;
        }

        & #IconeAlvo {
          width: 90px;
          height: auto;
        }

        & img {
          width: 75px;
          height: auto;
        }
      }

      & p {
        font-size: 18px;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
}

.QuemEsta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
    margin-left: 120px;
  }

  & .infos {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 500;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & p {
      font-size: 25px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;
    }
  }
}

.OportunidadeExc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 150px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
    margin-left: 120px;
  }

  & .infos {
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
      margin-left: 40px;
    }

    & .QuadradoPreco {
      background-color: #323232;
      width: 80%;
      height: 90vh;
      border-radius: 40px;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
      padding: 30px 30px;
      text-align: center;

      & p {
        font-size: 25px;
        font-weight: 500;
        color: #ffffff;
      }

      & .linha {
        width: 60%;
        height: 2px;
        background-color: #e3c05a;
        margin: 20px 20%;
      }

      & h3 {
        font-size: 37px;
        font-weight: 500;
        color: #e3c05a;
        margin-bottom: 10px;
        margin-top: 40px;

        & span {
          font-weight: 700;
          text-decoration: line-through;
        }
      }

      & h2 {
        font-size: 90px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 10px;

        & span {
          font-size: 30px;
        }
      }

      & h4 {
        font-size: 30px;
        font-weight: 700;
        color: #e3c05a;
        margin-bottom: 50px;
        margin-top: 10px;
      }
    }
  }
}

.ProntoPara {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  margin-bottom: 17vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
    margin-left: 120px;
  }

  & .infos {
    padding-top: 40px;
    & h1 {
      font-size: 50px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;

      & span {
        font-weight: 700;
        color: #e3c05a;
      }
    }
  }
}

footer {
  background-color: #e3c05a;
  text-align: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;

  & h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  & p {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;

    & a {
      color: #000000;
      font-weight: 700;
      transition: all 0.3s ease;
    }

    & img {
      width: 15px;
      height: auto;
    }
  }

  & a:hover {
    text-decoration: underline;
    color: #323232;
  }
}

@media (max-width: 1559px) {
  .Home {
    height: 70vh;

    & .infos {
      margin-top: 120px;

      & .tituloHome {
        font-size: 30px;
      }

      & h3 {
        font-size: 20px;
      }

      & img {
        width: 400px;
      }
    }
  }

  .Oproblema {
    margin-top: 6vh;

    & .texto {
      & h1 {
        font-size: 45px;
      }

      & h3 {
        font-size: 25px;
      }
    }

    .ListaIcones {
      gap: 60px;
      margin-top: 20px;
      margin-bottom: 120px;
      padding-right: 30px;

      & .icone1 {
        & .circulo {
          width: 120px;
          height: 120px;

          & #IconeBateria {
            width: 75px;
          }

          & #IconeDeslike {
            width: 75px;
          }

          & #IconeGrafico {
            width: 75px;
          }

          & #IconeBalanca {
            width: 75px;
          }

          & img {
            width: 55px;
            height: auto;
          }
        }

        & p {
          font-size: 15px;
        }
      }
    }
  }

  .OqueE {
    & .infos {
      & h1 {
        font-size: 45px;
      }

      & h3 {
        font-size: 20px;
      }
    }
  }

  .ParaQuem {
    & .infos {
      & h1 {
        font-size: 38px;
      }

      & h3 {
        font-size: 23px;
      }

      & p {
        font-size: 18px;
      }
    }
  }

  .Especialmente {
    & .texto {
      & h1 {
        font-size: 45px;
      }
    }

    .ListaIcones {
      gap: 60px;
      margin-top: 80px;
      margin-bottom: 120px;
      padding-right: 30px;

      & .icone1 {
        & .circulo {
          width: 120px;
          height: 120px;

          & #IconeEmpresarios {
            width: 65px;
          }

          & #IconePessoas {
            width: 75px;
          }

          & img {
            width: 55px;
            height: auto;
          }
        }

        & p {
          font-size: 15px;
        }
      }
    }
  }

  .OqueVoce {
    & .infos {
      & h1 {
        font-size: 42px;
      }

      & h3 {
        font-size: 20px;
      }

      & p {
        font-size: 18px;
      }
    }
  }

  .OqueVoceEncontra {
    & .infos {
      & h1 {
        font-size: 38px;
      }

      & h3 {
        font-size: 23px;
      }

      & p {
        font-size: 18px;
      }
    }
  }

  .OsTemas {
    & .texto {
      & h1 {
        font-size: 45px;
      }
    }

    .ListaIcones {
      gap: 60px;
      margin-top: 80px;
      margin-bottom: 120px;
      padding-right: 30px;

      & .icone1 {
        & .circulo {
          width: 120px;
          height: 120px;

          & #IconeCerebro {
            width: 75px;
          }

          & #IconeEngrenagem {
            width: 65px;
          }

          & #IconeTempo {
            width: 65px;
          }

          & #IconeCoracao {
            width: 65px;
          }

          & #IconePessoaEngrenagem {
            width: 65px;
          }

          & #IconeAlvo {
            width: 65px;
          }

          & img {
            width: 55px;
            height: auto;
          }
        }

        & p {
          font-size: 15px;
        }
      }
    }
  }

  .QuemEsta {
    & .infos {
      & h1 {
        font-size: 38px;
      }

      & h3 {
        font-size: 23px;
      }

      & p {
        font-size: 18px;
      }
    }
  }

  .OportunidadeExc {
    & .infos {
      & h1 {
        font-size: 38px;
        margin-left: 115px;
      }

      & .QuadradoPreco {
        width: 90%;
        height: auto;
        margin-left: 70px;

        & h3 {
          font-size: 30px;
        }

        & h2 {
          font-size: 60px;
        }

        & h4 {
          font-size: 25px;
        }
      }
    }

    & .imagem img {
      margin-left: 10px;
    }
  }

  .ProntoPara {
    & .infos {
      & h1 {
        font-size: 38px;
      }

      & h3 {
        font-size: 23px;
      }
    }
  }
}

@media (min-width: 1366px) and (max-width: 1558px) {
  .Home {
    height: 84.5vh;
    & .infos {
      margin-top: 80px;

      & .tituloHome {
        font-size: 30px;
        margin-bottom: 40px;
      }

      & h3 {
        font-size: 15px;
      }

      & img {
        width: 300px;
      }
    }
  }

  .Oproblema {
    margin-top: 12vh;

    & .texto {
      & h1 {
        font-size: 35px;
      }

      & h3 {
        font-size: 20px;
      }
    }

    .ListaIcones {
      gap: 60px;
      margin-top: 20px;
      margin-bottom: 120px;
      padding-right: 30px;

      & .icone1 {
        & .circulo {
          width: 80px;
          height: 80px;

          & #IconeBateria {
            width: 50px;
          }

          & #IconeDeslike {
            width: 50px;
          }

          & #IconeGrafico {
            width: 50px;
          }

          & #IconeBalanca {
            width: 50px;
          }

          & img {
            width: 35px;
            height: auto;
          }
        }

        & p {
          font-size: 12px;
        }
      }
    }
  }

  .OqueE {
    & .infos {
      & h1 {
        font-size: 35px;
      }

      & h3 {
        font-size: 15px;
      }
    }
  }

  .ParaQuem {
    & .infos {
      & h1 {
        font-size: 35px;
      }

      & h3 {
        font-size: 20px;
      }

      & p {
        font-size: 15px;
      }
    }
  }

  .Especialmente {
    & .texto {
      & h1 {
        font-size: 35px;
      }
    }

    .ListaIcones {
      gap: 60px;
      margin-top: 80px;
      margin-bottom: 120px;
      padding-right: 0px;

      & .icone1 {
        & .circulo {
          width: 80px;
          height: 80px;

          & #IconeEmpresarios {
            width: 40px;
          }

          & #IconePessoas {
            width: 40px;
          }

          & img {
            width: 40px;
            height: auto;
          }
        }

        & p {
          font-size: 12px;
        }
      }
    }
  }

  .OqueVoce {
    & .infos {
      & h1 {
        font-size: 35px;
      }

      & h3 {
        font-size: 20px;
      }

      & p {
        font-size: 15px;
      }
    }
  }

  .OqueVoceEncontra {
    & .infos {
      & h1 {
        font-size: 35px;
      }

      & h3 {
        font-size: 20px;
      }

      & p {
        font-size: 15px;
      }
    }
  }

  .OsTemas {
    & .texto {
      & h1 {
        font-size: 35px;
      }
    }

    .ListaIcones {
      gap: 60px;
      margin-top: 80px;
      margin-bottom: 120px;
      padding-right: 30px;

      & .icone1 {
        & .circulo {
          width: 80px;
          height: 80px;

          & #IconeCerebro {
            width: 50px;
          }

          & #IconeEngrenagem {
            width: 50px;
          }

          & #IconeTempo {
            width: 50px;
          }

          & #IconeCoracao {
            width: 50px;
          }

          & #IconePessoaEngrenagem {
            width: 50px;
          }

          & #IconeAlvo {
            width: 50px;
          }

          & img {
            width: 40px;
            height: auto;
          }
        }

        & p {
          font-size: 12px;
        }
      }
    }
  }

  .QuemEsta {
    & .infos {
      & h1 {
        font-size: 35px;
      }

      & h3 {
        font-size: 20px;
      }

      & p {
        font-size: 15px;
      }
    }
  }

  .OportunidadeExc {
    & .infos {
      & h1 {
        text-align: center;
        width: 90%;
        font-size: 30px;
        margin-left: 50px;
      }

      & .QuadradoPreco {
        width: 90%;
        height: auto;
        margin-left: 50px;
      }
    }
  }

  .ProntoPara {
    & .infos {
      & h1 {
        font-size: 35px;
      }

      & h3 {
        font-size: 20px;
      }
    }
  }

  footer {
    & h3 {
      font-size: 20px;
      margin-top: 30px;
    }
    & p {
      font-size: 12px;
    }
  }
}

@media (max-width: 1120px) {
  .Home {
    & .infos {
      margin-top: 90px;

      & .tituloHome {
        font-size: 22px;
        margin-top: 20px;
      }

      & h3 {
        font-size: 15px;
      }

      & img {
        width: 300px;
      }
    }
  }

  .Oproblema {
    margin-top: 16vh;

    & .texto {
      & h1 {
        font-size: 30px;
      }

      & h3 {
        font-size: 17px;
      }
    }

    .ListaIcones {
      gap: 60px;
      margin-top: 20px;
      margin-bottom: 120px;
      padding-right: 15px;

      & .icone1 {
        & .circulo {
          width: 70px;
          height: 70px;

          & #IconeBateria {
            width: 48px;
          }

          & #IconeDeslike {
            width: 45px;
          }

          & #IconeGrafico {
            width: 48px;
          }

          & #IconeBalanca {
            width: 48px;
          }

          & img {
            width: 33px;
            height: auto;
          }
        }

        & p {
          font-size: 10px;
        }
      }
    }
  }

  .OqueE {
    & .infos {
      & h1 {
        font-size: 30px;
      }

      & h3 {
        font-size: 15px;
      }
    }
  }

  .ParaQuem {
    gap: 20px;

    & img {
      margin-left: 0px;
    }

    & .infos {
      & h1 {
        font-size: 30px;
      }

      & h3 {
        font-size: 20px;
      }

      & p {
        font-size: 15px;

        & img {
          width: 15px;
        }
      }
    }
  }

  .Especialmente {
    & .texto {
      & h1 {
        font-size: 30px;
      }
    }

    .ListaIcones {
      gap: 60px;
      margin-top: 80px;
      margin-bottom: 120px;
      padding-right: 30px;

      & .icone1 {
        & .circulo {
          width: 70px;
          height: 70px;

          & #IconeEmpresarios {
            width: 40px;
          }

          & #IconePessoas {
            width: 40px;
          }

          & img {
            width: 40px;
            height: auto;
          }
        }

        & p {
          font-size: 12px;
        }
      }
    }
  }

  .OqueVoce {
    & .infos {
      & h1 {
        font-size: 30px;
      }

      & h3 {
        font-size: 20px;
      }

      & p {
        font-size: 14px;
      }
    }
  }

  .OqueVoceEncontra {
    gap: 0 5px;
    padding: 0 30px;

    & .imagem img {
      width: 35vw;
    }

    & .infos {
      & h1 {
        font-size: 30px;
      }

      & h3 {
        font-size: 20px;
      }

      & p {
        font-size: 15px;
      }
    }
  }

  .OsTemas {
    & .texto {
      & h1 {
        font-size: 30px;
        margin-bottom: -30px;
      }
    }

    .ListaIcones {
      padding-right: 10px;
      margin: 70px 0;

      & .icone1 {
        & .circulo {
          width: 70px;
          height: 70px;

          & #IconeCerebro {
            width: 40px;
          }

          & #IconeEngrenagem {
            width: 40px;
          }

          & #IconeTempo {
            width: 40px;
          }

          & #IconeCoracao {
            width: 40px;
          }

          & #IconePessoaEngrenagem {
            width: 40px;
          }

          & #IconeAlvo {
            width: 40px;
          }

          & img {
            width: 40px;
            height: auto;
          }
        }

        & p {
          font-size: 12px;
        }
      }
    }
  }

  .QuemEsta {
    & .infos {
      & h1 {
        font-size: 30px;
      }

      & h3 {
        font-size: 20px;
      }

      & p {
        font-size: 15px;
      }
    }
  }

  .OportunidadeExc {
    & .infos {
      & h1 {
        font-size: 30px;
        margin-left: 75px;
      }

      & .QuadradoPreco {
        width: 90%;
        height: auto;
        margin-left: 70px;

        & h3 {
          font-size: 19px;
        }

        & h2 {
          font-size: 50px;
        }

        & h4 {
          font-size: 19px;
        }

        & p {
          font-size: 17px;
        }
      }
    }
  }

  .ProntoPara {
    & .infos {
      & h1 {
        font-size: 30px;
      }

      & h3 {
        font-size: 18px;
      }
    }
  }

  footer {
    & h3 {
      font-size: 16px;
      margin-bottom: 20px;
    }

    & p {
      font-size: 14px;
    }
  }
}

@media (max-width: 820px) {
  * {
    text-align: center;
  }

  .OqueE,
  .ParaQuem,
  .OqueVoce,
  .OqueVoceEncontra,
  .QuemEsta,
  .OportunidadeExc,
  .ProntoPara {
    flex-direction: column;
    gap: 40px;
  }

  .OsTemas,
  .Oproblema,
  .Especialmente {
    margin-left: 10px;

    & .ListaIcones {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin: 80px 0;
      margin-left: -10px;
    }
  }

  .Especialmente {
    .texto {
      & h1 {
        margin-left: 0px;
      }
    }
    & button {
      margin-left: -40px;
    }
    & .ListaIcones {
      margin-left: 0px;
    }
  }

  .OsTemas {
    & .ListaIcones {
      margin-left: -14px;
    }
  }
  .Home {
    background-image: url("./assets/banners/banners-michelle2responsivo.jpg");
    height: 72vh;

    & .infos {
      margin-top: 40vh;

      & .tituloHome {
        width: 80vw;
        height: auto;
        font-size: 25px;
      }

      & h3 {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }

  .Oproblema {
    margin-top: 10vh;
  }

  .OqueE,
  .ParaQuem,
  .OqueVoce,
  .OqueVoceEncontra,
  .QuemEsta,
  .OportunidadeExc,
  .ProntoPara {
    & .imagem img {
      width: 80vw;
      & h3 {
        font-size: 30px;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 40px;
      }
    }
  }

  .ParaQuem,
  .OqueVoceEncontra,
  .OportunidadeExc,
  .QuemEsta,
  .ProntoPara {
    & .imagem img {
      margin-left: 0px;
    }
  }

  .OportunidadeExc {
    & .infos {
      & h1 {
        margin-left: 0px;
      }

      & .QuadradoPreco {
        margin-left: 30px;
      }
    }
  }
}

@media (max-width: 608px) {
  .Home {
    & .infos {
      margin-top: 35vh;

      & .tituloHome {
        font-size: 20px;
      }

      & h3 {
        font-size: 14px;
      }
    }
  }

  .Oproblema {
    margin-left: 20px;
  }

  .Especialmente {
    .texto {
      & h1 {
        margin-left: -10px;
      }
    }

    .ListaIcones {
      margin-left: 0px;
    }
  }

  .OsTemas {
    .texto {
      & h1 {
        margin-left: -10px;
      }
    }

    .ListaIcones {
      margin-left: -20px;
    }
  }
}

@media (max-width: 575px) {
  .Home {
    height: 80vh;
    & .infos {
      margin-top: 38vh;

      & .tituloHome {
        font-size: 20px;
      }

      & h3 {
        font-size: 12px;
      }

      & img {
        width: 250px;
      }
    }
  }
}

@media (max-width: 480px) {
  .Home {
    height: 57vh;
    & .infos {
      margin-top: 25vh;
      margin-left: -5px;

      & .tituloHome {
        font-size: 17px;
        margin-left: -10px;
      }

      & h3 {
        font-size: 14px;
        margin-left: 2px;
      }
    }
  }

  .ParaQuem,
  .OqueVoceEncontra,
  .OportunidadeExc,
  .QuemEsta,
  .ProntoPara,
  .OqueVoce {
    & .imagem img {
      margin-left: -20px;
    }
  }

  .Oproblema {
    margin-left: 0px;
    & button {
      margin-left: 0px;
    }
    & .texto {
      margin-left: 0px;
      & h1 {
        font-size: 25px;
      }
    }

    & .ListaIcones {
      margin-left: 10px;
    }
  }

  .OqueE {
    margin-left: -12px;
    margin-top: 10vh;
    & .infos {
      padding-left: 25px;
      & h1 {
        font-size: 25px;
      }
    }
  }

  .ParaQuem {
    margin-top: 10vh;
    margin-left: -5px;
  }

  .Especialmente {
    margin-top: 10vh;
    margin-left: 0px;

    & button {
      margin-left: 0px;
    }

    & .texto {
      & h1 {
        font-size: 25px;
        margin-left: 0px;
      }
    }

    & .ListaIcones {
      margin-left: 20px;
    }
  }

  .OqueVoce {
    margin-top: 10vh;
    margin-left: -10px;

    & .infos {
      margin-left: 10px;
      & h1 {
        font-size: 27px;
      }
    }
  }

  .OqueVoceEncontra {
    margin-top: 10vh;
    margin-left: -10px;

    & .imagem img {
      margin-left: 15px;
    }

    & .infos {
      padding-left: 10px;
    }
  }

  .OsTemas {
    margin-top: 10vh;

    & button {
      margin-left: 0px;
    }
    & .texto {
      & h1 {
        font-size: 25px;
      }
    }

    & .ListaIcones {
      margin-left: 0px;
    }
  }

  .QuemEsta {
    margin-top: 10vh;
    margin-left: -5px;

    & .imagem img {
      margin-left: -20px;
    }
  }

  .OportunidadeExc {
    padding: 0 20px;
    margin-top: 10vh;

    & .imagem img {
      margin-left: -5px;
    }

    & .infos {
      & .QuadradoPreco {
        margin-left: 0px;
        width: 100%;

        & h2 {
          font-size: 50px;
        }
      }
    }
  }

  .ProntoPara {
    margin-top: 5vh;

    & .imagem img {
      margin-left: -26px;
    }

    & .infos {
      padding-left: 0px;
    }
  }

  footer {
    width: 100%;

    & h3 {
      font-size: 14px;
    }

    & p {
      font-size: 12px;
    }
  }
}

@media (max-width: 431px) {
  .Home {
    height: 59vh;

    & .infos {
      margin-top: 25vh;
      margin-left: -20px;

      & img {
        width: 180px;
        margin-left: 45px;
      }

      & .tituloHome {
        font-size: 16px;
      }

      & h3 {
        font-size: 12px;
        margin-left: 20px;
        margin-bottom: 17px;
        margin-top: 17px;
      }

      & button {
        margin-left: 10px;
      }
    }
  }

  .Oproblema {
    padding: 0 10px;
    margin-left: 0px;
    & .texto {
      & h1 {
        font-size: 20px;
      }
    }

    & .ListaIcones {
      margin-left: 0px;
    }

    & button {
      margin-left: 0px;
    }
  }

  .OqueE {
    & .infos {
      margin-left: 30px;
      padding: 0;

      & button {
        margin-left: 0px;
      }

      & h1 {
        font-size: 27px;
      }
    }

    & .imagem img {
      margin-left: -20px;
    }
  }

  .ParaQuem {
    & .infos {
      & h1 {
        font-size: 30px;
      }
    }
  }

  .Especialmente {
    margin-left: 0px;
    & .texto {
      & h1 {
        font-size: 24px;
      }
    }

    & button {
      margin-left: 10px;
    }

    & .ListaIcones {
      margin-left: 10px;
    }
  }

  .OqueVoce {
    & .infos {
      & button {
        margin-left: -20px;
      }
    }
  }

  .OqueVoceEncontra {
    & .infos {
      & button {
        margin-left: 20px;
      }
    }
  }

  .OsTemas {
    & .texto {
      & h1 {
        font-size: 24px;
      }
    }

    & .ListaIcones {
      margin-left: -5px;
    }

    & button {
      margin-left: -20px;
    }
  }

  .QuemEsta {
    margin-left: 2px;
    & .infos {
      & h1 {
        font-size: 24px;
      }

      & h3 {
        font-size: 17px;
      }
    }
  }

  .OportunidadeExc {
    & .infos {
      & .QuadradoPreco {
        & button {
          margin-left: -5px;
        }
      }
    }
  }

  .ParaQuem,
  .QuemEsta,
  .ProntoPara,
  .OqueVoce {
    & .imagem img {
      margin-left: -30px;
    }
  }

  .OqueVoceEncontra {
    & .imagem img {
      margin-left: 16px;
    }
  }
}

@media (max-width: 394px) {
  .Home {
    height: 59vh;

    & .infos {
      margin-top: 25vh;
      margin-left: -20px;

      & img {
        width: 180px;
        margin-left: 45px;
      }

      & .tituloHome {
        font-size: 13px;
      }

      & h3 {
        font-size: 12px;
        margin-left: 20px;
        margin-bottom: 17px;
        margin-top: 17px;
      }

      & button {
        margin-left: 0px;
      }
    }
  }

  .Oproblema {
    padding: 0 10px;
    & .texto {
      & h1 {
        font-size: 20px;
      }
    }

    & button {
      margin-left: 10px;
    }
  }

  .OqueE {
    & .infos {
      margin-left: 30px;
      padding: 0;

      & button {
        margin-left: -25px;
      }

      & h1 {
        font-size: 27px;
      }
    }

    & .imagem img {
      margin-left: -20px;
    }
  }

  .ParaQuem {
    & .infos {
      & h1 {
        font-size: 30px;
      }
    }
    & button {
      margin-left: -20px;
    }
  }

  .Especialmente {
    & .texto {
      & h1 {
        font-size: 24px;
      }
    }

    & button {
      margin-left: 10px;
    }
  }

  .OqueVoce {
    & .infos {
      & button {
        margin-left: -20px;
      }
    }
  }

  .OqueVoceEncontra {
    & .infos {
      & button {
        margin-left: 20px;
      }
    }
  }

  .OsTemas {
    & .texto {
      & h1 {
        font-size: 24px;
      }
    }

    & .ListaIcones {
      margin-left: 0px;
    }

    & button {
      margin-left: 0px;
    }
  }

  .QuemEsta {
    margin-left: 2px;
    & .infos {
      & h1 {
        font-size: 24px;
      }

      & h3 {
        font-size: 17px;
      }

      & button {
        margin-left: -20px;
      }
    }
  }

  .OportunidadeExc {
    & .infos {
      & .QuadradoPreco {
        & button {
          margin-left: -5px;
        }
      }
    }
  }

  .ParaQuem,
  .QuemEsta,
  .ProntoPara,
  .OqueVoce {
    & .imagem img {
      margin-left: -30px;
    }
  }

  .OqueVoceEncontra {
    & .imagem img {
      margin-left: 16px;
    }
  }

  .ProntoPara {
    & .infos {
      & h1 {
        font-size: 27px;
      }
    }
  }
}

@media (max-width: 413px) {
  .Home {
    & .infos {
      & .tituloHome {
        font-size: 13px;
      }

      & h3 {
        font-size: 12px;
        margin-left: 20px;
        margin-bottom: 17px;
        margin-top: 17px;
      }

      & button {
        margin-left: 0px;
      }
    }
  }

  .Oproblema {
    padding: 0 10px;
    & .texto {
      & h1 {
        font-size: 20px;
      }
    }

    & button {
      margin-left: 5px;
    }

    & .ListaIcones {
      margin-left: 5px;
    }
  }

  .OqueE {
    & .infos {
      margin-left: 30px;
      padding: 0;

      & button {
        margin-left: -25px;
      }

      & h1 {
        font-size: 27px;
      }
    }

    & .imagem img {
      margin-left: -20px;
    }
  }

  .ParaQuem {
    & .infos {
      & h1 {
        font-size: 30px;
      }
    }
    & button {
      margin-left: -20px;
    }
  }

  .Especialmente {
    & .texto {
      & h1 {
        font-size: 24px;
      }
    }

    & button {
      margin-left: 10px;
    }
  }

  .OqueVoce {
    & .infos {
      & button {
        margin-left: -10px;
      }
    }
  }

  .OqueVoceEncontra {
    & .infos {
      & button {
        margin-left: 20px;
      }
    }
  }

  .OsTemas {
    & .texto {
      & h1 {
        font-size: 24px;
      }
    }

    & .ListaIcones {
      margin-left: -5px;
    }

    & button {
      margin-left: 0px;
    }
  }

  .QuemEsta {
    margin-left: 5px;
    & .infos {
      & h1 {
        font-size: 24px;
      }

      & h3 {
        font-size: 17px;
      }

      & button {
        margin-left: -20px;
      }
    }
  }

  .OportunidadeExc {
    & .infos {
      & .QuadradoPreco {
        & button {
          margin-left: -5px;
        }
      }
    }
  }

  .ParaQuem,
  .QuemEsta,
  .ProntoPara,
  .OqueVoce {
    & .imagem img {
      margin-left: -30px;
    }
  }

  .OqueVoceEncontra {
    & .imagem img {
      margin-left: 16px;
    }
  }

  .ProntoPara {
    & .infos {
      & h1 {
        font-size: 27px;
      }

      & button {
        margin-left: -20px;
      }
    }
  }
}
