.Home {
  background-image: url("./assets/banners/banner\ topo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  width: 100%;
  padding: 0 70px;
  display: flex;

  & .infos {
    justify-content: center;
    align-items: center;
    margin-top: 200px;

    & .tituloHome {
      font-size: 85px;
      font-weight: 700;
      color: #e3c05a;
      margin-top: 50px;
      margin-left: 0px;
      width: 50vw;
      height: 10vw;
    }

    & img {
      width: 520px;
      height: auto;
      margin-left: 5px;
    }

    & h3 {
      font-size: 26px;
      font-weight: 500;
      margin-top: 28px;
      margin-bottom: 60px;
      color: #ffffff;
    }
  }
}

.Oproblema {
  text-align: center;
  justify-content: center;
  margin-top: 9vh;

  & .texto {
    & h1 {
      font-size: 70px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 35px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;
    }
  }

  .ListaIcones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-direction: row;
    margin: 130px 0;

    & .icone1 {
      display: flex;
      align-items: center;
      flex-direction: column;

      & .circulo {
        background-color: #323232;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 50px;

        & #IconeBateria {
          width: 105px;
          height: auto;
        }

        & #IconeDeslike {
          width: 90px;
          height: auto;
        }

        & #IconeGrafico {
          width: 90px;
          height: auto;
        }

        & #IconeBalanca {
          width: 90px;
          height: auto;
        }

        & img {
          width: 75px;
          height: auto;
        }
      }

      & p {
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
}

.OqueE {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
  }

  & .infos {
    & h1 {
      font-size: 60px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;
    }
  }
}

.ParaQuem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
    margin-left: 120px;
  }

  & .infos {
    & h1 {
      font-size: 60px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 37px;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 40px;
    }

    & p {
      font-size: 26px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 20px;
    }
  }
}

.Especialmente {
  text-align: center;
  justify-content: center;
  margin-top: 25vh;

  & .texto {
    & h1 {
      font-size: 70px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 35px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;
    }
  }

  .ListaIcones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-direction: row;
    margin: 130px 0;

    & .icone1 {
      display: flex;
      align-items: center;
      flex-direction: column;

      & .circulo {
        background-color: #323232;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 50px;

        & #IconeEmpresarios {
          width: 80px;
          height: auto;
        }

        & #IconePessoas {
          width: 90px;
          height: auto;
        }

        & img {
          width: 75px;
          height: auto;
        }
      }

      & p {
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
}

.OqueVoce {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
  gap: 120px;
  padding: 0 70px;

  & .imagem img {
    width: 35vw;
    height: auto;
    border-radius: 50px;
  }

  & .infos {
    & h1 {
      font-size: 60px;
      font-weight: 700;
      color: #e3c05a;
      margin-bottom: 40px;
    }

    & h3 {
      font-size: 30px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;
    }
  }
}
