.VideoCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12vh;
  gap: 80px;
  text-align: center;
  background-color: #1f1f1f88;

  & h1 {
    font-size: 50px;
    font-weight: 700;
    color: #e3c05a;
    margin-top: 120px;
  }

  & .carousel {
    position: relative;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: grab;
    margin-bottom: 100px;
  }

  & .videoItem {
    position: absolute;
    width: 600px;
    height: 340px;
    overflow: hidden;
    transition: all 0.4s ease;

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .videoItem.active {
    width: 720px;
    height: 400px;
  }

  & .navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: #e3c05a;
    font-size: 40px;
    cursor: pointer;
    z-index: 3;
    transition: all 0.3s ease;

    &:hover {
      background-color: #e3c05a;
      color: #000;
    }
  }

  & .navButton.left {
    left: 40px;
  }

  & .navButton.right {
    right: 40px;
  }
}

@media (min-width: 1120px) and (max-width: 1366px) {
  .VideoCarousel {
    & h1 {
      font-size: 35px;
    }
  }
}

@media (max-width: 1120px) {
  .VideoCarousel {
    & h1 {
      font-size: 30px;
    }
  }
}

@media (max-width: 820px) {
  .VideoCarousel {
    width: 100%;
    height: 60vh;
  }
}

@media (max-width: 608px) {
  .VideoCarousel {
    & .carousel {
      width: 100%;
    }

    & .videoItem {
      width: 300px;

      & video {
        width: 70%;
        height: 320px;
      }
    }
  }
}

@media (max-width: 576px) {
  .VideoCarousel {
    height: 90vh;

    & .carousel {
      width: 100%;
    }

    & .videoItem {
      width: 60%;

      & video {
        width: 70%;
        height: 320px;
      }
    }
  }
}

@media (max-width: 480px) {
  .VideoCarousel {
    height: 70vh;
    width: 103%;

    & .videoItem {
      & video {
        width: 60%;
        height: 320px;
      }
    }
  }
}

@media (max-width: 430px) {
  .VideoCarousel {
    height: 80vh;

    & h1 {
      font-size: 25px;
    }

    & .videoItem {
      & video {
        width: 50%;
        height: 350px;
      }
    }
  }
}

@media (max-width: 393px) {
  .VideoCarousel {
    & h1 {
      font-size: 25px;
    }
  }
}
